<div class="tab-div">
    <h1>Data ke dni {{datum}}  pro ČR</h1>
    <table>
        <tr>
            <td><i class="fas fa-biohazard"></i></td>
            <td> Počet nakažených:</td>
            <td class="inf">{{pocet_nakazenych}}</td>
        </tr>
        <tr>
            <td><i class="far fa-heart"></i></td>
            <td> Počet vyléčených:</td>
            <td class="cured">{{pocet_vylecenych}}</td>
        </tr>
        <tr>
            <td><i class="fas fa-skull"></i></td>
            <td> Počet úmrtí:</td>
            <td class="dead">{{pocet_umrti}}</td>
        </tr>
        <tr>
            <td><i class="fas fa-vials"></i></td>
            <td> Počet testovaných:</td>
            <td class="tested">{{pocet_testu}}</td>
        </tr>
    </table>
</div>