<div class="main">
    <h1>Data ke dni {{datum}}</h1>
    <table>
        <tr>
            <td>Počet nakažených v ČR:</td>
            <td>{{pocet_nakazenych}}</td>
        </tr>
        <tr>
            <td>Počet vyléčených v ČR:</td>
            <td>{{pocet_vylecenych}}</td>
        </tr>
        <tr>
            <td>Počet úmrtí v ČR:</td>
            <td>{{pocet_umrti}}</td>
        </tr>
        <tr>
            <td>Počet testovaných v ČR:</td>
            <td>{{pocet_testu}}</td>
        </tr>
    </table>
</div>